.center {
    text-align: center;
}

.center-div {
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.font-large {
    font-size: x-large;
}

.lineheight-150 {
    line-height: 150%;
}

.lineheight-200 {
    line-height: 200%;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.padding-1 {
    padding: 1em;
}